In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Emerald,AU,2020-10-30 19:24:19,-23.53,148.17,66.20,88,0,3.36
1,1,Upernavik,GL,2020-10-30 19:24:19,72.79,-56.15,20.88,95,95,3.31
2,2,Cayenne,GF,2020-10-30 19:24:19,4.93,-52.33,89.60,62,45,14.99
3,3,Ushuaia,AR,2020-10-30 19:23:08,-54.80,-68.30,48.20,70,75,23.04
4,4,Tasiilaq,GL,2020-10-30 19:24:19,65.61,-37.64,33.80,86,75,4.70

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (<ipython-input-21-123f54563ee5>, line 4)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Heatmap of % Humidity

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of % Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### 6.5.3 - Get Valuation Criteria

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cayenne,GF,2020-10-30 19:24:19,4.93,-52.33,89.60,62,45,14.99
11,11,Sao Joao Da Barra,BR,2020-10-30 19:24:20,-21.64,-41.05,78.80,94,75,13.87
15,15,Vanimo,PG,2020-10-30 19:24:21,-2.67,141.30,77.77,78,100,5.19
17,17,Nouadhibou,MR,2020-10-30 19:24:21,20.93,-17.03,71.60,68,0,18.34
22,22,Rikitea,PF,2020-10-30 19:23:06,-23.12,-134.97,75.63,69,0,8.19
25,25,Butaritari,KI,2020-10-30 19:24:23,3.07,172.79,81.34,80,74,18.50
30,30,Vaini,TO,2020-10-30 19:24:24,-21.20,-175.20,71.60,83,75,11.41
32,32,Namatanai,PG,2020-10-30 19:24:13,-3.67,152.43,79.56,76,37,2.75
33,33,Namibe,AO,2020-10-30 19:24:24,-15.20,12.15,72.45,76,10,4.85
36,36,Mbaiki,CF,2020-10-30 19:24:25,3.87,17.99,71.37,98,97,0.87

In [33]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [34]:
preferred_cities_df.count()

City_ID       201
City          201
Country       200
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

### Filter and Drop N/A Values

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Cayenne,GF,2020-10-30 19:24:19,4.93,-52.33,89.60,62,45,14.99
11,11,Sao Joao Da Barra,BR,2020-10-30 19:24:20,-21.64,-41.05,78.80,94,75,13.87
15,15,Vanimo,PG,2020-10-30 19:24:21,-2.67,141.30,77.77,78,100,5.19
17,17,Nouadhibou,MR,2020-10-30 19:24:21,20.93,-17.03,71.60,68,0,18.34
22,22,Rikitea,PF,2020-10-30 19:23:06,-23.12,-134.97,75.63,69,0,8.19
25,25,Butaritari,KI,2020-10-30 19:24:23,3.07,172.79,81.34,80,74,18.50
30,30,Vaini,TO,2020-10-30 19:24:24,-21.20,-175.20,71.60,83,75,11.41
32,32,Namatanai,PG,2020-10-30 19:24:13,-3.67,152.43,79.56,76,37,2.75
33,33,Namibe,AO,2020-10-30 19:24:24,-15.20,12.15,72.45,76,10,4.85
36,36,Mbaiki,CF,2020-10-30 19:24:25,3.87,17.99,71.37,98,97,0.87

In [36]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

### Create hotel_df DataFrame

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp    Lat     Lng Hotel Name
2             Cayenne      GF     89.60   4.93  -52.33
11  Sao Joao Da Barra      BR     78.80 -21.64  -41.05
15             Vanimo      PG     77.77  -2.67  141.30
17         Nouadhibou      MR     71.60  20.93  -17.03
22            Rikitea      PF     75.63 -23.12 -134.97
25         Butaritari      KI     81.34   3.07  172.79
30              Vaini      TO     71.60 -21.20 -175.20
32          Namatanai      PG     79.56  -3.67  152.43
33             Namibe      AO     72.45 -15.20   12.15
36             Mbaiki      CF     71.37   3.87   17.99

In [38]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
hotels

{'html_attributions': [],
 'next_page_token': 'AcnaJv1YC8vLQw1mYEuVYpJ8qeeXFBEY70Thi4HjpXo-THzSd7OG6OchknW-OdUZFSHwQjvWGBPuHNk3uqcZHm9aVnlL9vCJ_iZRaQErLVEGgZjFhkwxb23oy-gPAYmL9qmOFgPEu8XiG6IZdxuFVeCK-7H9cEkOR9Ttt7gvXnGrf3QjQJUujlZ2-yYHrLSrWnVLkZnJxSigG6aUaU0LfmA9Kmyk2LB0Yny9kHTGRMvOgOey2hFVNLPnrZwU3ZgYqCJbDczJHfhonNwdoT4YM8QxhYZrxtQOwRUvuU5WTAbrrTH5XOLPsEe5TCZGMLqcETvWMFYB5x5-5oKDiZyBxWIkLdE-twafx2G0kUKPFAJLm3nJch50ScEXaKWWC2MjFlP0Qbzp1JrEwXPUcTdQ4rCwGqNujugtMg3ZdmMXHfjl2aUK7TeZ-vU',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594393802915,
      'lng': 2.354352980291502},
     'southwest': {'lat': 48.8567414197085, 'lng': 2.351655019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'CmRaAAAAPuSxArkqkhbjnvbrm6yUIjY3otTtQ30oo7O_Vig7Zgae4uLn_UaoIDOP2cjUx1gJxXU5yuuRQ9epaXUeIevgSQnP9qC_Lw3SfmscRpfY964HpHPPbEGtfy8Ajj97Qmx1EhB1P2xOPGE5hfwq0YxZLwxSGhS0pSgyHFUjWIWRRHn5ndJVUwZgpQ',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['night_club',
    'spa',
    'lodging',
    'bar',
    'gym',
    'health',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 277,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.8595495802915,
      'lng': 2.347780980291502},
     'southwest': {'lat': 48.8568516197085, 'lng': 2.345083019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Britannique',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 546,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Louvre</a>'],
     'photo_reference': 'CmRaAAAAaVsBdKkQDgmfRXQ6D7cksxqhY44zGyRIHYrFrKXwrWGgivlbbSJOpI2_gPZ6ugunVdhc7LLyxAzwPppLNnVFoh3U4NLfFPHboV87qpKN3nmoHl_72YoM6_Q-PDA73ePeEhC9CVdU3Wn0LdblSQpTzv2rGhS0-XyYCGYHETf7-lvZRKIkSujhFQ',
     'width': 1024}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.6,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 366,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.8618387802915,
      'lng': 2.348475730291502},
     'southwest': {'lat': 48.85914081970851, 'lng': 2.345777769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Les Halles Paris (Apart Hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 496,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102565262508115704337">Citadines Les Halles Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'CmRaAAAA9Ep14oMAGX-BnyvYB5rujZ-c6-aaYUIXV69-rnJBjtUbJXEOBOaZxrlfyAgHCBNUz9_9VFt_ofVSxXwJ5aYTQOlpHGHGtTaU6tKWZhfhn7PmBNet1RF2LaK1xyxFJ1RREhCWm7FSK22jikCRw1qHqAPrGhTNY6p5sYXDAM-fvJ95B_jAEi83FQ',
     'width': 745}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 815,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607769, 'lng': 2.3463217},
    'viewport': {'northeast': {'lat': 48.8620135802915,
      'lng': 2.347597080291502},
     'southwest': {'lat': 48.8593156197085, 'lng': 2.344899119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Novotel Paris Les Halles',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel Paris Les Halles</a>'],
     'photo_reference': 'CmRaAAAAtDHYJeUO8ejUHtgxsjS0MK0cvlBbI1OxKjT0fwyeLkbZ3QA1jgEwRiAWqNUDzjf2gmpI2Wx5GeDkPxUw3vEFPe9IvEfwudZoZ6ltM65DALpLCHFW4WcBzHnTam9o6YFnEhAGRxkMXv5YOJi6imW27EhnGhTewJq-zyKTewjeEAXvJhDuRHHQ1Q',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8G Paris, France',
    'global_code': '8FW4V86W+8G'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2077,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86034799999999, 'lng': 2.344054},
    'viewport': {'northeast': {'lat': 48.8616503302915,
      'lng': 2.345521080291502},
     'southwest': {'lat': 48.8589523697085, 'lng': 2.342823119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Best Western Premier Ducs de Bourgogne</a>'],
     'photo_reference': 'CmRaAAAAgoKodIOzLCM6NvM2pTBYAQ3BEXLu0Mtbl23PQp8FUvyYTi1M_GUtUoAQmTqpsT9i-ChuP9kx-i4uSnpWqE-nA_cmtpDMFLHJmoLEvoMCgVvTg9Lj0jdWawJ5gXksSnVqEhAPnFLMPTFLZwinyJl9oP6-GhSPgNJU6C9XjCHAUxWQhegX7w2aDA',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 274,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Citadines Saint-Germain-des-Prés Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107856881779358840274">David O&#39;Meara</a>'],
     'photo_reference': 'CmRaAAAAMweLGPs1be4f5PlJPdkTqkmlhZ8hghzRgLt1rufsXKLRUQ6CvdLqloxIWsIpq7c_HzDX7gG-IjjjxujxAZEXqAR8MxoR3ZXawnHOp5Uhlux4CZcI7OR0CQ2HPhOsePNCEhDWLvWaeXXBuSSkHjCmUmAJGhT1hf_K-Dc2tlcnrMk7RcWi6v9yeQ',
     'width': 4032}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 650,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86634659999999, 'lng': 2.36064},
    'viewport': {'northeast': {'lat': 48.8677623302915,
      'lng': 2.361952180291502},
     'southwest': {'lat': 48.86506436970851, 'lng': 2.359254219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Paris France Hôtel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2673,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102332962500946068613">Paris France Hôtel</a>'],
     'photo_reference': 'CmRaAAAAfIjhC8a78BsbqImCAN8U-D1lus_psA3saxwA3rmp9adItsPmfYA1yvCXyPYUpPQauLaCfXcw2QLZbFPnteKJRHFXVH0ey12C65fNcYr3-OIUHTzZ_cIDUkNT8N7L-UYhEhBJJk28TfW15J5xXoFT9Oj3GhTmqmpSdmjph0QL5QDtiZQyiTJF9A',
     'width': 3463}],
   'place_id': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'plus_code': {'compound_code': 'V986+G7 Paris, France',
    'global_code': '8FW4V986+G7'},
   'rating': 4.3,
   'reference': 'ChIJhXWLZg9u5kcRDVyqoZYgcmg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 375,
   'vicinity': '72 Rue de Turbigo, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86386539999999, 'lng': 2.3325488},
    'viewport': {'northeast': {'lat': 48.8652309302915,
      'lng': 2.333762030291502},
     'southwest': {'lat': 48.8625329697085, 'lng': 2.331064069708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hotel Regina Louvre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3700,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109066439891801774697">Hôtel Regina Louvre</a>'],
     'photo_reference': 'CmRaAAAAlvzS_XBzasRzxt7h9iQHuYE4-Sb9yQRou7WpezA--_4381YNdK6DFPVUQihRCxcEmjcxrLANp92aeQhILVCkXV4oHbEe9OTOvP38QGtC8AgUiwux8uBM5nYj4oltgf2tEhBxFQygrbH4MO68qBr0XKEQGhSbxUzEWPV2UKDPVNwM2VO02co09Q',
     'width': 5550}],
   'place_id': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'plus_code': {'compound_code': 'V87M+G2 Paris, France',
    'global_code': '8FW4V87M+G2'},
   'rating': 4.5,
   'reference': 'ChIJP_-HCS9u5kcRsj9b1x7Pl8w',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 500,
   'vicinity': '2 Place des Pyramides, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.84795229999999, 'lng': 2.370869},
    'viewport': {'northeast': {'lat': 48.84922153029149,
      'lng': 2.372321980291502},
     'southwest': {'lat': 48.84652356970849, 'lng': 2.369624019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'ibis Paris Gare de Lyon Ledru Rollin 12ème',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102166088584622554231">cherry pyj</a>'],
     'photo_reference': 'CmRaAAAA4VaTwlX1yeON8LAItcxWIiDqYTPVmBqjck-TMsOV8yFr9t9JhNmVTgkmvV-IcWNEw_gY-UnwCPkNnHmGYIQNEpCMHC8sUM64C1Rx_RpJbRxNOID5haTQjPNbg1L1yO_JEhCyk_tvn-yJoYTuuUXZuauEGhST023mNLrjvkNfneGf_uUbaGpwtQ',
     'width': 4032}],
   'place_id': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'plus_code': {'compound_code': 'R9XC+58 Paris, France',
    'global_code': '8FW4R9XC+58'},
   'rating': 4,
   'reference': 'ChIJ9RNxcQNy5kcRnZJ4vsuXcow',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 743,
   'vicinity': '41/43 Avenue Ledru Rollin, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8475464, 'lng': 2.3718722},
    'viewport': {'northeast': {'lat': 48.8488750302915,
      'lng': 2.373125480291502},
     'southwest': {'lat': 48.8461770697085, 'lng': 2.370427519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel De France Gare de Lyon Bastille',
   'photos': [{'height': 1960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104045426349853231072">michael scanlon</a>'],
     'photo_reference': 'CmRaAAAAfDYOht0Ez0xKsmyHWEZjEDv0FWaKOeK-DXoS1pi6rFm33JIBIKQ_k2beATcitqD0yOFuA-SYGZvsnbPMU7_xmUruUslfFlzTzEORB3zkc0mUnOGoc2npSNDsfA-CVZ8YEhAwjEy_vRFUt_MLnIaLj7YEGhQ6zRQNiHpny1UW_Yy3eXgOS0W1ZA',
     'width': 4032}],
   'place_id': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'plus_code': {'compound_code': 'R9XC+2P Paris, France',
    'global_code': '8FW4R9XC+2P'},
   'rating': 3.3,
   'reference': 'ChIJz6DBYgNy5kcRhOu1LhDIECM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 380,
   'vicinity': '12 Rue de Lyon, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8717386, 'lng': 2.3447052},
    'viewport': {'northeast': {'lat': 48.8731394302915,
      'lng': 2.346067130291502},
     'southwest': {'lat': 48.8704414697085, 'lng': 2.343369169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Corona Opéra',
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110158133027602673318">Marisa Pretto</a>'],
     'photo_reference': 'CmRaAAAAlXn4qNyM0L0M445fESOKNqSh2VO_ONs7heztE02FaFzHTA43g22V1GqgTwrPkQSE2x8Uy8dMiy0WI5pmXYnFQB4LNvZR4a7LEvTolMqN-KGNeewYwT38A6MUnbA6RgFJEhCbbniSBkP28x1S6REZyY6RGhRSKFKOqLYJOh5XErKCiCBfOpCr3w',
     'width': 3000}],
   'place_id': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'plus_code': {'compound_code': 'V8CV+MV Paris, France',
    'global_code': '8FW4V8CV+MV'},
   'rating': 4,
   'reference': 'ChIJ8e3Qcj5u5kcR2MIGwNxustk',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 309,
   'vicinity': '8 Cité Bergère, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8423491, 'lng': 2.3632246},
    'viewport': {'northeast': {'lat': 48.84365308029151,
      'lng': 2.364707180291502},
     'southwest': {'lat': 48.84095511970851, 'lng': 2.362009219708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Libertel Austerlitz Jardin des Plantes',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114802271282641766772">Hôtel Libertel Austerlitz Jardin des Plantes</a>'],
     'photo_reference': 'CmRaAAAAPGU-KHPI6xwg9trMXOo9uFpRyg9kZRGoL9u5zuMLmMUwjFIXq8icltnhlPqNaU0Qj6aM5_r2t0udDbc0LMM7Sk08C87VWWfihiXD69xo4FG8OUS9qtDWYe1R77JlCLPnEhCa8B7kICJrczW4jtZZW_ujGhQ-N27rvuvci0xQVbkPIu23CPOFrA',
     'width': 6720}],
   'place_id': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'plus_code': {'compound_code': 'R9R7+W7 Paris, France',
    'global_code': '8FW4R9R7+W7'},
   'rating': 4,
   'reference': 'ChIJe-udXPZx5kcRKURHNFv5BSw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 434,
   'vicinity': "12 Boulevard de l'Hôpital, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.864294, 'lng': 2.3307997},
    'viewport': {'northeast': {'lat': 48.8655898302915,
      'lng': 2.332108780291502},
     'southwest': {'lat': 48.8628918697085, 'lng': 2.329410819708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Saint James Albany Paris Hôtel Spa',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1365,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108570400659068256718">Saint James Albany Paris Hôtel Spa</a>'],
     'photo_reference': 'CmRaAAAAv4KU-1LWkRf9Gt4JNQuJG25zNXwXex0nvj3q54TC9k-5IQOagZVrgoh7lo5qmbtXdrJlfy7-7EjbC-QS8F64GcTOcu0JohxMn2MDDgRRxzY2aMAD_Exolge0lGHg52_MEhCDuzkKRoel-oCvUYwf9BNPGhQ1FvVP4A5lwJzp_yJ3bKSPqpDjiw',
     'width': 2048}],
   'place_id': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'plus_code': {'compound_code': 'V87J+P8 Paris, France',
    'global_code': '8FW4V87J+P8'},
   'rating': 4,
   'reference': 'ChIJ8znTVS5u5kcREq8TmzOICFs',
   'scope': 'GOOGLE',
   'types': ['lodging',
    'bar',
    'restaurant',
    'food',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 1070,
   'vicinity': '202 Rue de Rivoli, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.87110329999999, 'lng': 2.3389728},
    'viewport': {'northeast': {'lat': 48.8724296802915,
      'lng': 2.340311330291502},
     'southwest': {'lat': 48.8697317197085, 'lng': 2.337613369708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Hôtel Icône',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1066,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108137830440312077288">Hôtel Icône</a>'],
     'photo_reference': 'CmRaAAAAlCKVJwKNbsFF01FOo882Ie3yDSE7B5s-QIHr4CTmvO-scm53t3qjPJsJ0dOGktZGSiyJPYoEsUJUuLMvyS7pXSpo3AfkBmBqN8BhuZD71kA2EiU2yc1aTnqDtEQtl7uJEhDNkAmlOzCMsUXJfKa5ky72GhTggghbBZlVhQVQ1n2FLxpbgHoR-A',
     'width': 1600}],
   'place_id': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'plus_code': {'compound_code': 'V8CQ+CH Paris, France',
    'global_code': '8FW4V8CQ+CH'},
   'rating': 3.7,
   'reference': 'ChIJpQvq5Dtu5kcR0COam2f7v_I',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 135,
   'vicinity': "4 Rue d'Amboise, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8654924, 'lng': 2.3271121},
    'viewport': {'northeast': {'lat': 48.8667867302915,
      'lng': 2.328593580291502},
     'southwest': {'lat': 48.8640887697085, 'lng': 2.325895619708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'The Westin Paris - Vendôme',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 810,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110604580348447711691">The Westin Paris - Vendôme</a>'],
     'photo_reference': 'CmRaAAAA0J9f9R3xKEdU-yX9kWrmo8wTVJ1Xd5fL8D_efwQ5JdAzsZKQ3_A1ejOOn2X8V_Ld3vg40YB0mARnfnBWV7o7T-CGh8Fq_EH036FivYC9pzYW5k5B-DIV4CsbUDjcQhgcEhAaZS4Ii-mOzyEywCmjVC_CGhSkohWQLLBf0RfHTdoKBmQNAdUk_A',
     'width': 1440}],
   'place_id': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'plus_code': {'compound_code': 'V88G+5R Paris, France',
    'global_code': '8FW4V88G+5R'},
   'rating': 4.4,
   'reference': 'ChIJt4LY5C1u5kcRvVeuJebPxHc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2031,
   'vicinity': '3 Rue de Castiglione, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.86038899999999, 'lng': 2.323112},
    'viewport': {'northeast': {'lat': 48.8617804302915,
      'lng': 2.324489280291502},
     'southwest': {'lat': 48.8590824697085, 'lng': 2.321791319708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': "Hôtel d'Orsay",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 768,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115556676131195822021">Hôtel 4 étoile d&#39;Orsay Paris 7ème</a>'],
     'photo_reference': 'CmRaAAAAZIskaCnQFpAJRrU_YHNHlsPIgxrK9BoXy_HxeRWGUp0wTR6_COErSLNhWlQgFuhycULfxa6Q2z4vyF-qz_N8ooke1yfuhVXvdIxOcrSdkZIzoOHcfIBHrKcEBqyZ-5dgEhBr_8K7-R5DhC4x1-luTQ9CGhTN7ViLL7R8sKX8HQnALmrhAhfYBQ',
     'width': 1152}],
   'place_id': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'plus_code': {'compound_code': 'V86F+56 Paris, France',
    'global_code': '8FW4V86F+56'},
   'rating': 4.6,
   'reference': 'ChIJu39_OCtu5kcRWVQ7SFa0J-k',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 207,
   'vicinity': '93 Rue de Lille, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8661363, 'lng': 2.3260648},

In [39]:
len(hotels["results"])

20

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cayenne,GF,89.60,4.93,-52.33,Hôtel Le Dronmi
11,Sao Joao Da Barra,BR,78.80,-21.64,-41.05,Pousada Porto De Canoas
15,Vanimo,PG,77.77,-2.67,141.30,Vahmoneh Lodge Vanimo
17,Nouadhibou,MR,71.60,20.93,-17.03,El Medina
22,Rikitea,PF,75.63,-23.12,-134.97,Pension Maro'i
...,...,...,...,...,...,...
522,Axim,GH,78.91,4.87,-2.24,AXIM BEACH RESORT AND SPA
523,Mana,GF,86.63,5.66,-53.78,LE SAMANA
526,Kadipaten,ID,76.17,-8.14,113.22,SPOT ON 2440 Wallet Family Residence
528,Tam Ky,VN,80.60,15.57,108.48,Nhà Nghỉ Phương Hòa
533,Touros,BR,84.20,-5.20,-35.46,INN NEW HORIZON

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))